/* Format syntax - use camelNotation and kebab (shish-kebab) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url(images/firey-bckgrnd.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
}

header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 5%;
}

/* To do: RWD => Hamburger menu */

nav {
  display: flex;
  width: 40%;
}

nav > ul {
  display: flex;
  width: 100%;
  /* gap: 5%; */
  justify-content: space-evenly;
  padding: 2% 3%;
  /* border: solid 5px #be0707; */
  background-color: #be0707;
  border-radius: 2px 30px 15px 30px;
}

.btn {
  text-align: center;
  font-family: "Trebuchet MS";
  font-weight: 900;
  font-size: 140%;
  padding: 1% 2%;
}

.nav-link {
  list-style: none;
  border-radius: 2px 30px 15px 30px;
}

header a {
  color: #fce78c;
  text-decoration: none;
}

.nav-link a {
  border-radius: 25px;
  display: block;
}

.nav-link a:hover {
  color: #ffe7a9;
  cursor: pointer;
}

.nav-link:hover {
  background-color: #f46100;
  cursor: pointer;
}

header > h1 {
  width: 45%;
}

#PgTitle {
  font-family: "Merienda", serif;
  font-size: 160%;
  color: #fce78c;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  /* width: 20vw; */
  padding: 2% 6%;
  background-color: #be0707;
  /* border: 20%; */
  border-radius: 2px 30px 15px 30px;
  position: relative;
}

#PgTitle:hover {
  background-color: #f46100;
  cursor: pointer;
}

#middle {
  display: flex;
  width: 100vw;
  justify-content: center;
}

#vicboy {
  width: 25%;
  height: auto;
  border: 2em solid;
  border-image: url(images/wood-frame.png) 84 stretch;
  margin: 3% 35% 0 35%;
}

#quote {
  font-family: "Merienda", serif;
  font-size: 280%;
  color: #be0707;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  margin: 1% 5% 5% 0%;
}

footer {
  padding: 1%;
  text-align: center;
  border: none;
  border-top: solid #be0707;
  font-family: "Merienda", serif;
  font-size: 190%;
  color: #be0707;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  /* position: relative; */
  text-align: center;
}

/* Instagram and TikTok Styling: */

footer i {
  color: #be0707;
}

/* ===RWD=== Media queries */
/* Laptops */
@media screen and (max-width: 1600px) {
  #PgTitle {
    font-size: 130%;
  }
  .btn {
    font-size: 120%;
  }
}
/* notebooks */
@media screen and (max-width: 1300px) {
  #PgTitle {
    font-size: 120%;
  }
  .btn {
    font-size: 100%;
  }
  
}

/* tablets */
@media screen and (max-width: 1100px) {
  #PgTitle {
    font-size: 100%;
  }
  .btn {
    font-size: 90%;
  }
  
}
/* smaller devices */
@media screen and (max-width: 900px) {
  header {
    flex-direction: column; /* Stack title and nav vertically */
    align-items: flex-start; /* Align header elements to the left */
    
  }

  #PgTitle {
    text-align: center; /* Optional: Center the text */
    margin-bottom: 1%; /* Adds space between title and nav */
    font-size: 55%;
  }

  nav {
    width: 30%;
    height: 100%;  
    justify-content: flex-start;
    padding: 2%;
  }

  nav > ul {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 1%;
  }

  .nav-link {
    
    padding: 2% 0;
  }
}

/* ===Gallery=== */

#paintGal {
  font-family: "Merienda", serif;
  font-size: 260%;
  color: #860404;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  margin: 5% 3% 0% 2%;
  border: none;
  border-bottom: 4px solid #860404;
}
#container1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 1% 1%;
  position: relative;
}

#container1 div {
  text-align: center;
  margin: 2%;
}

#digiGal {
  font-family: "Merienda", serif;
  font-size: 260%;
  color: #860404;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  margin: 2% 3% 0% 2%;
  border: none;
  border-bottom: 4px solid #860404;
}

#container2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 1% 2%;
  border: none;
  position: relative;
}

#container2 div {
  text-align: center;
  margin: 2%;
}

.framedimg img {
  border: 1em solid;
  border-image: url(images/wood-frame.png) 84 stretch;
}

/* ===ANIMATION===: */
.artwork {
  opacity: 1;
  display: flex;
  width: 15em;
  height: auto;
  transition: transform 0.8s ease, opacity 0.8s ease;
  backface-visibility: hidden;
}

.framedimg:hover .artwork {
  animation: fadeAndScale 1.1s ease-in-out forwards;
}

@keyframes fadeAndScale {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/* ===ABOUT AGNI=== */

/* #aboutAgni {
display: flex;
justify-items: stretch;
flex-wrap: wrap;

} */

#aboutAgni h2 {
  font-family: "Merienda", serif;
  font-size: 240%;
  color: #860404;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  margin: 5% 0% 0% 5%;
}

#aboutAgni p {
  /* display: flex;
  flex-wrap: wrap; */
  font-family: "Merienda", serif;
  font-size: 180%;
  color: #860404;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin: 2% 5% 17% 5%;
}

/* ===CONTACT PAGE=== */

#contAgn {
  font-family: "Merienda", serif;
  font-size: 220%;
  color: #be0707;
  /* text rendering is optimized for viewing at different sizes: */
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  padding: 2% 2%;
}

/* Form formatting */
#form {
  padding: 2% 2%;
}

fieldset {
  border: none;
}

input {
  width: 40%;
}
/* Increase font size for visibility: */
label {
  font-family: "Trebuchet MS";
  font-size: 140%;
  font-weight: 900;
  color: #860404;
  padding: 1%;
}

input[type="text"] {
  padding: 1%;
  margin: 1% 0;
  border: none;
  border-bottom: 2px solid #860404;
  background: none;
}

input[type="email"] {
  padding: 1%;
  margin: 1% 2%;
  border: none;
  border-bottom: 2px solid #860404;
  background: none;
}

input[type="radio"] {
  width: 2%;
}

textarea {
  border: none;
  border-top: 2px solid #860404;
  border-bottom: 2px solid #860404;
  background: none;
  font-size: 150%;
}

input[type="submit"] {
  background-color: #860404;
  color: white;
  font-size: 120%;
  padding: 1%;
  width: 8%;
  border-radius: 20px;
}

#submit:hover {
  background-color: #f46100;
  color: #fce78c;
  cursor: pointer;
}
